CoreData-Views-Collection-ios/CoreData-Views-Collection-ios.xcodeproj/project.xcworkspace/xcuserdata
CoreData-Views-Collection-ios/CoreData-Views-Collection-ios.xcworkspace/xcuserdata
CoreData-Views-Colletion-ios.xcworkspace/xcuserdata
